---
import { SOCIALS } from "@/constants";
import LinkButton from "./LinkButton.astro";

export interface Props {
  centered?: boolean;
}

const { centered = false } = Astro.props;
---

<div class:list={["flex flex-wrap gap-0.5 sm:gap-1", { "justify-center": centered, "justify-start": !centered }]}>
  {
    SOCIALS.map(social => (
      <LinkButton
        href={social.href}
        class={`p-1.5 hover:rotate-6 sm:p-2${social.name === "Mail" ? " js-email" : ""}`}
        title={social.linkTitle}
        {...(social.name === "Mail" ? { "data-u": "yj", "data-d": "yjsoon.com" } : {})}
      >
        <social.icon class={`inline-block size-5 sm:size-6 ${social.name === 'X' || social.name === 'Threads' ? 'scale-110 sm:scale-100' : 'scale-110 sm:scale-125'} fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent`} />
        <span class="sr-only">{social.linkTitle}</span>
      </LinkButton>
    ))
  }
</div>
